@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
 

html, body{
  margin: 0;
}

html{ 
     background-color: #18181b   ;
     overscroll-behavior: contain;

    -webkit-overflow-scrolling: touch; /*   Smooth scrolling for iOS */
 }
 
  
 
 
.animate-once{
  animation-iteration-count: initial;

}
 
 

@media screen and (display-mode: standalone) {
  
  header{
    height: 88px;
  } 

 
  
} 
   
 
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  
input::-webkit-input-placeholder { /* Chrome, Safari, Edge */
  color: #ccc;
}

input::-moz-placeholder { /* Firefox */
  color: #ccc;
}
input{
  color: #ccc;
}
input:focus-visible{
  outline: none;
 }
 
 .shake{
   animation: tilt-shaking  0.5s ease-in-out;
 }
 
 @keyframes tilt-shaking {
  0% { transform: rotate(0deg); scale: 1.4; color:maroon; }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg);   ;
}
} 

.backdrop-blur-md {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
} .infiniteScrollWrapper {
  overflow-x: hidden;
  width: fit-content;
}

.infiniteScroll {
  animation: infiniteTranslate 8s linear infinite;
  white-space: nowrap; /* Ensure content doesn't wrap */
}
 
@keyframes infiniteTranslate {
  0% {
    transform: translateX(-100%);
  }
  70% { 
    transform: translateX(0);
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
input[type='range']::-webkit-slider-thumb {
  @apply bg-green-500;

   -webkit-appearance: none;
  width: 14px;
  border-radius: 100%;
  aspect-ratio: 1/1;
 }